body { font-family:sans-serif; }
h1 { font-family:"Fugaz One", sans-serif; letter-spacing:-2px; color:#00BFFF; }
table { border-collapse:collapse; }
td { border:1px solid #ccc; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
:focus { outline:0; }

#loading { width:100%; height:15px; background:#00BFFF; position:absolute; top:0; left:0; }

#story-header { width:180px; }
#plus-header { width:22px; }

thead { 
  th { font-weight:normal; color:#bbb; background:#ddd; padding:5px 0; border:1px solid #eee; }
}

tbody {
  tr { height:111px; font-size:12px;
    td { border-color:#eee; vertical-align:top; }
    td.story { padding:10px; cursor:move; vertical-align:middle;
      div { background:#eee; padding:5px; border:1px solid #e9e9e9; }
    }
    td.plus { text-align:center; font-weight:bold; font-size:14px; color:#999; background:#F0F0F0; position:relative;
      button.cross {  }
    }
    .todo { background:#eee; width:80px; min-height:80px; float:left; margin:5px; padding:5px; cursor:move; border-top:8px solid #ccc; font-size:11px;
      p { margin:0; }
    }
  tr.selected { background:#ddd; }
  }
  tr.create_story {
    td { vertical-align:middle; text-align:center;
      input[name='title']{ width:100px; }
      input[name='points'] { width:35px; }
    }
  }
}

#new_todo { display:none; position:absolute; left:228px; background:#ddd; width:190px; padding:5px 0; box-shadow:5px 5px 0px rgba(0,0,0,.2); border:1px solid #ccc; 
  .tooltip-pointer { 
    width:0; 
    height:0; 
    border-left: 20px solid transparent; 
    border-right: 0px solid transparent;
    border-bottom: 20px solid #ddd;
    position:absolute;
    left:-20px; top:18px;
  }
}

footer {
  p { font-size:12px; background:#eee; padding:10px;
    a { color:#00BFFF; }
  }
}